In [4]:
import pandas as pd
import numpy as np
import matplotlib

In [5]:
#read dataset
df=pd.read_csv("diabetes.csv")

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
#aim to predict weather diabets is have or not
df.shape

(768, 9)

In [8]:
## train_test_split#parameter data(x/input),label(y/output)
from sklearn.model_selection import train_test_split

In [10]:
x=df.iloc[:,df.columns!="Outcome"]
y=df.iloc[:,df.columns == "Outcome"]

In [11]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [12]:
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=0.2)

In [13]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
705,6,80,80,36,0,39.8,0.177,28
59,0,105,64,41,142,41.5,0.173,22
560,6,125,76,0,0,33.8,0.121,54
299,8,112,72,0,0,23.6,0.840,58
561,0,198,66,32,274,41.3,0.502,28

In [15]:
ytrain.head()

     Outcome
705        0
59         0
560        1
299        0
561        1

In [16]:
xtrain.shape

(614, 8)

In [17]:
df.shape

(768, 9)

In [19]:
x.shape

(768, 8)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
model=RandomForestClassifier()

In [24]:
model.fit(xtrain,ytrain.values.ravel()) #to trainn the alg

RandomForestClassifier()

In [33]:
predict_output=model.predict(xtest) # to test the algorithm

In [34]:
 print(predict_output)

[0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0
 1 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0
 0 0 0 0 0 1 1 1 0 0 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0
 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1
 0 1 0 0 0 1]

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
acc=accuracy_score(predict_output,ytest)
acc

0.7727272727272727